
/* Main top bar appearance */
.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    height: 60px;
    padding: 0 20px;
    position: sticky; /* This needs to have a place where it sticks. */
    /* ! TODO: This makes it go off the screen, seemingly caused by the bar itself. It needs to be the same size as the width of the screen! */
    width: 100%;
}


/* Logo & Links */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.nav-link-signup {
    margin-left: 20px;
    border: none;
    outline: none;
    background: #3f51b5;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 700;
    transition-duration: 0.3s;
    cursor: pointer;
}