html,
body {
    height: 100%;
}

.home-page-container {
    width: 100vw;
    min-height: 2000px;
}

.img-banner {
    max-height: 500px;
    overflow: hidden;
}

.img-banner img {
    width: 100%;
    height: auto;
}